td img{
    width: 150px;
    height: 150px;
    margin-left: 24px;
}

.dataTables_length, .dataTables_info{
    display: none;
}

.data-filter{
    display: flex;
    padding-left: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.data-filter div{
    margin-left: 15px;
}

.customer-details{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%
}