body{
    
    background-color: #F0EDE4!important;

}

#map{
    height: 250px;
    width: 50%;
}

td img{
    width: 75px;
    
    margin-left: 24px;
}

span{
    font-size: 18px;
    color: black;
}

th{
    text-align: center!important;
}

td {
    vertical-align: middle!important;
    text-align: center;
}

.dataTables_length, .dataTables_info{
    display: none;
}

form{
    padding-left: 0%;
    
}

.clear-filter{
    margin-left: 77%;
    margin-top: -67px;
}

.customer-details{
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: inset 0 0 4px rgba(0,0,0,.5);
    background-color: #F0EDE4;
}
.table-bordered, .table-bordered td, .table-bordered th{
    border-color: #8C1842!important;
}
td, th, h1, label, p, h2{
    font-weight: 500;
    color: #8C1842;
}

.pictures-profile-details{
    margin-left: 20px;
}

.details-title{
    text-align: center;
}

.customer-title{
    margin-top: -50px;
}

@media (min-width: 320px) and (max-width: 700px){
    .smarts-logo img{
        width: 40%;
    }
    h1,h2{
        font-size: 20px!important;
    }

    .clear-filter{
        margin-left: 64%;
    }

    .pictures-profile-details{
     width: 130px;
     margin-left: 0;
    }
    table{
        width: 100%!important;
    }

    .table td, .table th{
        font-size: 10px;
    }
    body{
        padding-bottom: 1%;
    }
    .customer-title{
        width: 200%;
        margin-top: -25px;
        margin-bottom: 25px;
    }
    .smarts-logo-details img{
        width: 100%;
    }

    .details-title{
        text-align: left;
    }

    p{
        font-size: 12px;;
    }
    span{
        font-size: 14px;
    }
}
@media (min-width: 760px) and (max-width: 1000px){
    .customer-title{
        width: 120%;
        margin-top: -30px;
        margin-bottom: 30px;

    }
    h1{
        font-size: 30px!important;
    }
    .smarts-logo img{
        width: 20%;        
    }
    .clear-filter{
        margin-left: 33%;
        margin-top: -65px;
        
    }
    body{
        padding-bottom: 1%;
    }

    .smarts-logo-details img{
        width: 100%;
    }
}